langchain-text-splitters  -> for chunking
pypdf                     -> for workig on documents  
argparse                  -> to work on CLI  
chromadb                  -> vector db  
rank-bm25                 -> for ranking BM25
fastembed